.loginBody {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #c93b0e, #ff7043);
  height: 100vh;
  align-items: center;
  justify-content: center; }

.logo {
  margin: 0 auto;
  width: 200px

   }

.wrapInput {
  padding: 10px; }

.formMessage {
  color: #FF0 !important;
  text-align: center;
  width: 100%; }

.formLogin {
  padding-top: 25px;
  align-items: center;
  text-align: center; }
